@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.articles-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem #0000001a;
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.btn {
  align-self: flex-start;
  padding: .75em 1em;
  border-radius: 1em;
  border-style: hidden;
  font-size: .75rem;
}

.btn + .btn {
  margin-left: .5em;
}

.btn-blue {
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.btn-blue:hover {
    background: linear-gradient(to bottom, #00449c, #009cd1);
    color: #fafafa;
  }

.btn-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.btn-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card-body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}