header {
    background-color: #C3ACD0;
    background-image: url("/assets/images/headerbg.jpeg");
    background-size: cover;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    display: unset!important;
    width: 40px;
}

header a {
    text-decoration: none;
}

.header-title {
    color: white;
    text-shadow: #fff 1px 1px 2px;
}
