header {
    background-color: #C3ACD0;
    color: #fff;
    padding: 10px;
    z-index: 999;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    display: unset!important;
    width: 40px;
}

header a {
    text-decoration: none;
}

.header-title {
    color: black;
}
