@font-face {
    font-family: 'SignikaNegativ';
    src: url('/assets/fonts/SignikaNegativ.ttf') format('truetype');
}

body {
    font-family: 'SignikaNegativ', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

section {
    width: 75%;
    padding: 20px;
}

article {
    background-color: #f9f9f9;
    text-wrap:balance;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

aside {
    box-shadow: 0 .1rem 1rem #0000001a;
    height: 100%;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    nav, section {
        width: 100%;
    }
}