/* Déclaration du Miniprojet font avec @font-face */
@font-face {
    font-family: 'Miniprojet font';
    src: url('/assets/fonts/SignikaNegativ.ttf') format('truetype');
}

/* Déclaration des styles globales */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body style */
body {
    font-family: 'Miniprojet font', sans-serif;
    background-color: #FFFBF5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* la container principale de la page */
main {
    margin-left: 30%;
}

/* Donner un style à les titres */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Miniprojet font', serif;
    color: #7743DB;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sections-container {
    width: 80%;
}

section {
    padding: 20px;
}

aside {
    box-shadow: 0 .1rem 1rem #0000001a;
    height: 100%;
    background: #F7EFE5;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    nav, section {
        width: 100%;
    }
}